.footer {
    background-color: $color-dark;
    margin-top: -10rem;

    &__nav {
        list-style: none;
        padding: 20rem 0 10rem;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(md) {
            padding: 30rem 0 10rem;
            flex-direction: row;
            justify-content: space-around;
        }
    }

    &__nav-element {
        color: #FFFFFF;
        font-size: 2.5rem;
        position: relative;
        cursor: pointer;
        padding: 5px 0;

        &:not(:last-of-type) {
            margin-bottom: 3rem;

            @include respond(md) {
                margin-bottom: 0;
            }
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            border-radius: 100px;
            background-color: #FFFFFF;
            display: block;
            transition: width .5s;
        }

        &:hover::after {
            width: 100%;
        }
    }

    &__copy {
        font-size: 1.2rem;
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 2rem;
    }
}