.header {
    width: 100vw;
    background-color: #FFFFFF;
    display: grid;
    grid-template-rows: 40vh minmax(60vh, min-content) 10vh;
    margin-bottom: -10vh;

    @include respond(md) {
        grid-template-columns: minmax(max-content, 40rem) minmax(max-content, 1fr);
    }

    &__title {
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        margin-bottom: 8rem;

        @include respond(md) {
            grid-column: 1 / -1;
        }
    }

    &__main {
        grid-row: 2 / 3;
        background-color: $color-dark;
        transform: skewY(-6deg);
        padding: 8rem 10rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @include respond(md) {
            grid-column: 2 / -1;
            transform: skew(6deg, -6deg);
            width: 110%;
        }

        &::before {
            content: '';
            position: absolute;
            display: block;
            top: -15vh;
            left: 50%;
            height: 30vh;
            width: 30vh;
            border: 5px solid $color-dark;
            border-radius: 100%;
            background-image: url('../../img/oskargrzelak.jpg');
            background-size: cover;
            background-position: center;
            transform: translateX(-50%) skewY(6deg);

            @include respond(md) {
                top: -10vw;
                left: 0;
                height: 25vw;
                width: 25vw;
                border: 6px solid $color-dark;
                transform: translateX(-50%) skew(-6deg, 6deg);
            }

            @include respond(lg) {
                top: -5vw;
                left: 5vw;
                border: 8px solid $color-dark;
            }

            @include respond(hg) {
                border: 10px solid $color-dark;
            }
        }
    }

    &__bullets {
        list-style: none;
    }

    &__bullet {
        color: #FFFFFF;
        position: relative;
        transform: translateX(0) skewY(6deg);
        transition: transform .3s;

        @include respond(md) {
            transform: translateX(0) skew(-6deg, 6deg);
        }

        &:not(:last-of-type) {
            margin-bottom: 4rem;
        }

        &::before {
            content: '';
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            background-color: #FFFFFF;
            border-radius: 100%;
            position: absolute;
            left: -4.5rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

/* .move-in--left {
    transform: translateX(0) skew(-6deg, 6deg);
} */