.section {
    border-top: 5px solid #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
    transform: skewY(-6deg);

    & > * {
        transform: skewY(6deg);
    }
}

.section--dark {
    background-color: #000A63;
}

.section--dark-white {
    background-image: linear-gradient(to bottom, #FFFFFF 85%, $color-dark 85%);

    @include respond(md) {
        background-image: linear-gradient(84deg, $color-dark 30%, #FFFFFF 30%);
    }
}

.section--white {
    background-color: #FFFFFF;
}

.section--white-dark {
    background-image: linear-gradient(84deg, #FFFFFF 60%, $color-dark 60%);
}