.button {
    display: block;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 1.5rem 1rem;
    text-align: center;
    border: none;
    outline: none;
    font-family: $mono;
    color: #000A63;

    @include respond(md) {
        padding: 2rem 1.5rem;
    }

    @include respond(lg) {
        padding: 2.5rem 2rem;
    }

    &--small {
        border: 2px solid $color-dark;
        font-size: 1.6rem;

        @include respond(md) {
            font-size: 1.9rem;
        }

        @include respond(lg) {
            font-size: 2.2rem;
        }
    }
    
    &--big {
        border: 3px solid $color-dark;
        font-size: 2.5rem;

        @include respond(md) {
            font-size: 3rem;
        }

        @include respond(lg) {
            font-size: 3.5rem;
        }
    }
}