.u-margin-bottom-small {
    margin-bottom: 1.2rem;

    @include respond(md) {
        margin-bottom: 1.4rem;
    }

    @include respond(lg) {
        margin-bottom: 1.6rem;
    }
}

.u-margin-bottom-big {
    margin-bottom: 5rem;

    @include respond(md) {
        margin-bottom: 6rem;
    }

    @include respond(lg) {
        margin-bottom: 7rem;
    }
}

.u-align-center {
    text-align: center;
}